@import "components/global";
@import "components/header";
@import "components/test";
@import "components/app";

.Flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

hr {
  color: $color__blue--strong;
}